
body{
    background-color: #f6f8fb;
}
.header-container{
    min-height: 90vh;
    width: 100%;
}

/* Login and register form */
.auth-section{
    /* background-color: aqua; */
    padding: 115px 100px 50px 100px;
    min-height: 90vh;
    width: 100%;
}
.auth-card{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}
.left-side{
    background-color: purple;
    height: 400px;
    width: 100%;
}
.right-side{
    background-color: aqua;
    height: 400px;
    width: 100%;
}